/* For screens up to 300px */
@media (max-width: 300px) {
    html{
        font-size: 40%;
    }
  }
  
  /* For screens up to 600px */
  @media (max-width: 600px) {
    /* Your CSS rules for screens up to 600px width */
    html{
        font-size: 60%;
    }
  }
  
  /* For screens up to 900px */
  @media (max-width: 900px) {
    /* Your CSS rules for screens up to 900px width */
    html{
        font-size: 80%;
    }
  }
  